
[report]
show_missing = True
omit =
    venv/*
    tests/*
# Regexes for lines to exclude from consideration
exclude_lines =
    raise NotImplementedError
    self._exclude_column = \[\]
    if __name__ == .__main__.:
    pass
    session.expire_all()
    return async_execute_and_expire_result
    if 'duplicate key value violates unique constraint' not in err_msg: