/htmlcov/
.coverage
tests/htmlcov
/poetry.lock
/pyproject.toml
*.xml
*.pyc
workspace.xml
*.iml
*.xml
*.sh
*.gz
*.txt
*.
PKG-INFO
fastapi_quickcrud_code_generator_beta.egg-info
src/fastapi_quickcrud.egg-info
dist
