asyncpg==0.24.0
fastapi==0.68.1
psycopg2==2.9.1
pydantic==1.8.2
SQLAlchemy==1.4.25
StrEnum==0.4.6
pytest==6.2.5
guid==0.2.1
uvicorn==0.15.0
requests
coverage
coveralls
starlette==0.14.2
aiosqlite==0.17.0
greenlet==1.1.1