aiosqlite==0.17.0
anyio==3.5.0
asgiref==3.4.1
asyncpg==0.25.0
coverage==6.2
coveralls==3.3.1
fastapi==0.68.2
greenlet==1.1.2
guid==0.2.1
psycopg2-binary==2.9.3
pydantic==1.8.2
pytest==6.2.5
requests==2.27.1
SQLAlchemy==1.4.30
starlette==0.14.2
StrEnum==0.4.7
urllib3==1.26.8
uvicorn==0.17.0
